<section class="bg-card-1 text-card-3 max-w-[550px] relative rounded-2xl">
  <img src="/hero.png" alt="divider" class="rounded-t-lg" />

  <img class="absolute top-[18rem] w-full" src="/white-overlay.svg" alt="" />

  <article class="px-14 pt-3 pb-4 flex flex-col gap-2">
    <h1 class="font-semibold leading-10 text-3xl text-card-3 font-lato">Perfect solution for small business</h1>
    <p class="text-card-4 text-xl text-balance">
      Small businesses need to generate leads to grow. You can use tools like Ringy.
    </p>
  </article>
  <hr />
  <footer class="flex items-center gap-3 px-14 py-7">
    <img class="rounded-full size-12 shadow-md" src="/avatar-image-business-card.png" alt="avatar" />
    <div class="flex flex-col gap-1">
      <h2 class="font-bold leading-3 text-lg">Amy Burgess</h2>
      <small class="text-card-4 font-normal text-lg">Customer Manger, Solution Oy</small>
    </div>
  </footer>
</section>
